<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index page</title>
    <style>
        .btn {
            display: inline-block;
            background: #8C959D;
            color: #fff;
            padding: 5px 5px;
            text-decoration: none;
            border-radius: 3px;
        }
    </style>
</head>
<body>
<form action="#" th:action="@{/index}" th:object="${page}" method="post">
    <p>URL: <input type="text" th:field="*{q}" /></p>
    <p><input class="btn" type="submit" value="Submit" /> </p>
</form>
</body>
</html>