<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .btn {
            display: inline-block;
            background: #8C959D;
            color: #fff;
            padding: 5px 5px;
            text-decoration: none;
            border-radius: 3px;
        }
    </style>
</head>
<body>
<input th:oninput="'javascript:Search()'" id="textInput" type="text">
<a id="searchElement" class="btn" href="/search">Search</a>
<script type="text/javascript">
    function Search() {
        document.getElementById("searchElement").setAttribute("href", "/search?q=" + document.getElementById("textInput").value);
    }
</script>
</body>
</html>